.main-body{
    background-image: url('../../images/Bg.png');
    background-size:cover;
    background-repeat: no-repeat;
    border: 1px solid lightgray;
    
}
.vehicle-card-container{
    margin-top: 20%;
    margin-bottom: 20%;
display: flex;
}
.card {
    padding: 5%;
    margin-left: 30%;
    margin-right: 20px;
    display: block;
  }
  .card Img{
      width: 80%;
  }
